<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>object detector</title>
</head>

<body style="background-color:powderblue;">
    <style>
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 5px solid #808080;
            padding: 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
    <script>
        async function detectObjectinImage() {
            var tensor_obj = tf.browser.fromPixels(document.getElementById('output'));
            const myArray = new Int32Array(tensor_obj.bufferSync().values);
            // Http request
            var a = new Date();
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var b = new Date();
                    var difference = Math.round(((b - a) / 1000) * 100) / 100;
                    document.getElementById('objects').innerHTML = ' ' + xhr.responseText;
                    document.getElementById('timeTaken').innerHTML = 'Time taken : ' + difference + ' seconds';
                }
            }
            xhr.open("POST", 'http://127.0.0.1:8000', true);
            xhr.setRequestHeader("Content-type", "application/json");
            xhr.send(JSON.stringify(myArray));
        }

        var loadFile = function (event) {
            const detectedObject = document.getElementById('objects');
            detectedObject.innerHTML = '';
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        }

    </script>
    <div class="center">
        <input type="file" id="photo" name="photo" onchange="loadFile(event)" accept="image/*">
        <p><img id="output" width="400" height="400" /></p>

        <p>
            <button onclick="detectObjectinImage()">Detect</button>
            <span id="objects"></span>
        </p>
        <p>
            <span id="timeTaken"></span>
        </p>
    </div>
</body>

</html>